#type hal_power_omni, domain;
#hal_server_domain(hal_power_omni, hal_power)
#type hal_power_omni_exec, exec_type, file_type;
#init_daemon_domain(hal_power_omni)
## hal_power_oneplus6 - binerized power hal
#typeattribute hal_power_omni coredomain;
##allow hal_power_default proc_touchpanel:dir search;
##allow hal_power_default proc_touchpanel:file { open write };
#
##allow hal_power_default perfd:unix_stream_socket connectto;
##allow hal_power_default perfd_socket:sock_file write;
#
#allow hal_power_omni proc_touchpanel:dir search;
#allow hal_power_omni proc_touchpanel:file { open write };
#
#allow hal_power_omni debugfs_wifi:file { getattr open read };
