allow system_app sysfs_graphics_omni:file rw_file_perms;
allow system_app sysfs_graphics_omni:dir search;

#selinux status
allow system_app selinuxfs:file r_file_perms;

allow system_app wificond:binder call;


allow system_app storaged:binder call;

allow system_app fs_bpf:dir search;
allow system_app proc_pagetypeinfo:file read;

allow system_app sysfs_vibrator_omni:file rw_file_perms;
allow system_app sysfs_vibrator_omni:dir search;

allow system_app sysfs_usb_supply_omni:file rw_file_perms;
allow system_app sysfs_usb_supply_omni:dir search;
