allow system_server sysfs_graphics_omni:file rw_file_perms;
allow system_server sysfs_graphics_omni:dir search;

set_prop(system_server, shell_prop)

allow system_server audioserver:file w_file_perms;
allow system_server hal_audio:file write;

allow system_server sysfs_fp:file { getattr open write };

allow system_server vendor_data_file:dir search;
allow system_server vendor_data_file:file { read open getattr };

allow system_server sysfs_vibrator_omni:file rw_file_perms;
allow system_server sysfs_vibrator_omni:dir search;

allow system_server sysfs_usb_supply_omni:file rw_file_perms;
allow system_server sysfs_usb_supply_omni:dir search;
